/*QMainWindow {
    background-color: #f0f0f0;
}

QTabWidget::pane {
    border: 1px solid #cccccc;
    background: #ffffff;
}

QTabBar::tab {
    background: #e0e0e0;
    padding: 10px;
}

QTabBar::tab:selected {
    background: #d0d0d0;
    font-weight: bold;
}*/
